<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Alzheimer Disease Classification - Login</title>
</head>
<body>
    <h2 class='heading'>Welcome to Alzheimer Disease Classification</h2>
    <div class="container">
        <!-- <img src="brain.png" alt="image" height="64px" width="64px"> -->
        <div class="sub_con1">
            <!-- for Image of brain -->
            <h5>Alzheimer Disease Classification</h5>
            <h1>Login Here</h1>
        </div>
        <div>
            <form class="form" action="post">
                <label for="uname">Username</label><br>
                <input type="text" id="uname" name="uname"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" id="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>